/* SUBARU 2007-2015 2457CC 2.5 Ltr 99.500 X 79.000MM */
.subaru_heading_div {
    position: relative;
    justify-content: center;
    padding: 1.2rem 1.4rem;
}
.subaru_heading_div img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.subaru_heading_div h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.service_tabs_content h3 {
    font-size: 33px;
}
/* SUBARU 2007-2015 2457CC 2.5 Ltr 99.500 X 79.000MM */

/* tech data tabs */
.tech_active {
    color: var(--navCl) !important;
}
.tech_data_tabs h2 {
    color: var(--tabSM);
    font-size: 28px;
}

.tabs_options {
    cursor: pointer;
}

.tech_tab_second {
    background-color: var(--secondNavbarColor);
    padding: 1rem;
    border-radius: 6px;
    width: 100%;
    color: var(--mainColor);
}
.tech_tab_second option {
    font-size: 17px;
}
.tech_tas_sm {
    display: none;
}
.tech_tabs_sm_cart {
    width: 100%;
    padding: 1rem 2rem;
    /* border-radius: 6px; */
    transition: all 0.3s ease;
}
.tech_tabs_sm_cart_active {
    border-radius: 8px;
    background-color: var(--secondNavbarColor);
}
.tech_tabs_sm_cart h2 {
    color: var(--mainColor);
}
.tech_tabs_sm_cart i {
    color: var(--mainColor);
}
.tech_tabs_option_div {
    border-radius: 8px;
    padding: 0;
    height: 0;
}

.tech_tabs_option_div_active {
    height: auto;
    transition: all 0.3s ease;
}
.tech_tabs_option_div_active div {
    padding: 1rem 2rem;
    background-color: var(--secondNavbarColor);
    margin: 0.5rem 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* tech data tabs */

/* tabs container section */
.tabs_container_inner_div {
    width: 100%;
    /* height: 800px; */
    border: 1.5px dotted var(--smDark);
    overflow-y: hidden;
    position: relative;
}

.tabs_content_main {
    width: 1589px;
}

.tabs_container_inner_div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Handle */
.tabs_container_inner_div::-webkit-scrollbar-thumb {
    background: var(--scrollBarCl);
    border-radius: 10px;
}

/* Handle on hover */
.tabs_container_inner_div::-webkit-scrollbar-thumb:hover {
    background: var(--smDark);
}

.tabs_container_content_div {
    width: 150px;
    padding: 1rem;
    border: 1.5px dotted var(--smDark);
    height: 150px;
}

.tabs_container_content_second_div {
    width: 150px;
    height: 290px;
    padding: 1rem;
    border: 1.5px dotted var(--smDark);
}

.tabs_container_first_content_div {
    width: 380px;
}
.tabs_container_content_div h3 {
    color: var(--redButtonCl);
    font-size: 20px;
}

.engin_tab_container h3 {
    font-size: 40px;
}

.engin_tab_container h4 {
    font-size: 21px;
}

.refrece_table_div {
    width: 100%;
}

.border_top {
    border-top: 1.5px dotted var(--smDark);
}
.refrece_table_div .row {
    border: 1.5px dotted var(--smDark);
    border-top: none;
}

.refrece_table_div .row h5 {
    margin-bottom: 0;
    color: var(--redButtonCl);
}

.refrece_table_div .row h4 {
    font-size: 15px;
}

.refrece_table_div .table_border {
    border-left: 1.5px dotted var(--smDark);
}

.tabs_eidt_div {
    overflow-y: hidden;
    position: relative;
}

.tabs_eidt_div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Handle */
.tabs_eidt_div::-webkit-scrollbar-thumb {
    background: var(--scrollBarCl);
    border-radius: 10px;
}

/* Handle on hover */
.tabs_eidt_div::-webkit-scrollbar-thumb:hover {
    background: var(--smDark);
}

.tabs_edit_inner_div {
    width: 1576px;
    border-right: 1.9px dashed var(--smDark);
}

.tabs_eidt_option_div {
    width: 200px;
    height: 180px;
    /* border: 1.5px dotted var(--smDark); */
    border-bottom: 1.9px dashed var(--smDark);
    border-right: 1.9px dashed var(--smDark);
    border-top: 1.9px dashed var(--smDark);
    border-left: 1.9px dashed var(--smDark);
}

.tabs_eidt_lest {
    width: 100%;
}

.tabs_edit_inner_div h3 {
    color: var(--redButtonCl);
    font-size: 20px;
    margin-top: 0.5rem;
}

.prevImage {
    cursor: pointer;
    width: auto;
    height: 80px;
}

.prev_image_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.619);
    z-index: 100;
    display: none;
}

.prev_image_div_inner {
    width: 75%;
    /* height: 80%; */
    background-color: var(--mainColor);
    border-radius: 8px;
    position: relative;
}

.prve_image_active {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev_image_div_inner i {
    position: absolute;
    color: var(--mainColor);
    top: -30px;
    right: -30px;
    font-size: 20px;
    cursor: pointer;
}

.prev_image_div_inner .prev_imge {
    width: auto;
    height: 600px;
}

.image_prev_innner_div {
    height: 80px;
    width: 80px;
    cursor: pointer;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--scrollBarCl);
}
.image_prev_innner_div img {
    width: auto;
    height: auto;
}

.img_active {
    border: 1px solid var(--redButtonCl);
}

.image_prev_innner_div img {
    width: auto;
    height: 100%;
}

.arrow_left {
    position: absolute;
    left: -60px;
    top: 50%;
    width: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.arrow_right {
    position: absolute;
    right: -60px;
    top: 50%;
    width: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}

/* tabs container section */

.tabs_container_section {
    position: relative;
}

.path_div {
    position: absolute;
    left: 120px;
    top: 50px;
}
.path_div img {
    width: 100px;
}
