/* Our Web DesignAgency, */
.light_heading_para {
  color: var(--main-color);
}
/* Our Web DesignAgency, */
/* web_desing_and_brand */
.web_desing_Content_div h1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 98px;
  color: var(--mainColor);
}
.web_desing_Content_div p {
  text-align: justify;
  font-size: 25px;
}
.services_includes_card {
  width: 62%;
  padding: 2rem 1rem 0 0;
  border-radius: 12px;
  position: relative;
  background-color: var(--cardColor);
}

.services_includes_inner {
  width: 80%;
  padding: 0.2rem 2rem;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.services_includes_inner p {
  color: var(--main-color);
  margin-bottom: 0;
}
.services_includes_list {
  padding-left: 2rem;
}
.services_includes_list li p {
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 19px;
  display: inline-block;
  color: #fff;
}

.services_includes_list li {
  display: flex;
  flex-wrap: wrap;
}

.services_includes_list li::before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 50px;
  background: url(../images/Vector\ 4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  transform: scale(0.7);
}
/* web_desing_and_brand */
/* Graphic Design & Brand Identity */
/* Graphic Design & Brand Identity */
/* Our Responsibility */
.Our_responsibility_card {
  padding: 2rem;
  position: relative;
  border-radius: 12px;
  background-color: var(--cardColor);
}
.Our_responsibility_card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 12px;
  left: 0;
  z-index: -1;
}
.Our_responsibility_card h1 {
  font-weight: bold;
  font-size: 30px;
}
.Our_responsibility_card p {
  font-size: 16px;
  color: #fff;
}
.buttonArrow {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.vectorImg {
  width: auto;
  height: 50px;
}
/* Our Responsibility */

/* Get Your free Quote Today */
.get_your_free_qoute {
  position: relative;
}
.get_your_free_qoute::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/Group\ 5194.png);
  background-position: center;
  z-index: -1;
  mix-blend-mode: overlay;
  top: 0;
  left: 0;
}

.get_your_free_content h2 {
  font-size: 3rem;
}
.get_your_free_content p {
  font-size: 1.2rem;
}
.search_input_div {
  display: flex;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
}
.search_input_div input {
  width: 100%;
  padding: 0 0 0 3rem;
  outline: none;
  border: none;
}
.Check_now_Button {
  padding: 1rem 3rem;
  background-color: var(--main-color);
  color: var(--mainColor);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.web_url {
  border-right: 1px solid #f3f3f3 !important;
}
/* Get Your free Quote Today */
