.stuidio_banner_section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .8)), url(../images/11.png);
    background-position: center;
    background-size: cover;
}

.stuidio_banner_section h5 {
    color: var(--mainColor);
    font-weight: 800;
    font-size: 30px;
}

.solution-cart {
    width: 100%;
    padding-top: 160px;
}