.we_answer_all_the {
    margin-top: -100px;
}

.content_content_div {
    padding-top: 100px !important;
    padding-bottom: 200px !important;
}

.content_content_div img {
    margin-bottom: -171px;
}

.card_div_elm {
    background-color: var(--mainColorCl);
    border-radius: 20px;
    padding: 4rem 3rem;
}

.card_div_elm p {
    color: var(--lightGreenCl);
}

.card_div_elm h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
}

.card_div_elm .map_div {
    width: 100%;
    height: 400px;
}

/* Our Location */
.our_location_div h1 {
    font-weight: 700;
    font-size: 45px;
}
.our_location_div p {
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
}
.our_location_cart h3 {
    font-weight: 700;
    font-size: 30px;
}
.our_location_cart {
    background-color: var(--mainColorCl);
    padding: 1rem 2rem;
}
.our_location_cart img {
    margin-top: -60px;
}
/* Our Location */

.contact_for_consulation {
    padding: 4rem 3rem;
    border-radius: 15px;
}

.dark_bg {
    background-color: var(--darkBlCl);
}

.contact_for_consulation span {
    color: var(--mainColorCl);
}

.contact_for_consulation h1 {
    font-weight: 700;
    font-size: 40px;
    color: var(--mainColorCl);
}

.content_dc_div h4 {
    font-weight: 700;
    font-size: 35px;
}

.card_div_elm p {
    font-weight: 400;
    font-size: 25px;
}

.the_bis_div {
    padding: 4rem;
    background-color: var(--mainColorCl);
    border-radius: 24px 300px 24px 24px;
}

.content_dc_div img {
    transform: scale(0.7);
}
