footer {
    /* padding: 100px 0; */
    padding-top: 350px;
    background-image: url(../images/footer-bg-image.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 40px;
    margin-top: -300px;
    background-repeat: no-repeat;
}

footer p {
    color: var(--footerCl);
    font-weight: 400;
    font-size: 18px;
}

footer hr {
    color: var(--mainColorCl);
}

.footer_second_content_div {
    justify-content: space-between;
}

.footer_second_content_div p {
    color: var(--mainColorCl);
    font-size: 16px;
}

.footer_icons_div {
    width: 30px;
    height: 30px;
    background-color: var(--lightGreenCl);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

footer h3 {
    color: var(--mainColorCl);
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 1rem;
}

footer ul li a {
    color: var(--footerCl);
    text-decoration: none;
}

footer ul li i {
    color: var(--footerCl);
}
